<div class="container">
    <div class="main-area">
        <div class="grid-container">
            <div class="box"><input [(ngModel)]="inputValues[0]" #box1 id="1" (keyup)="moveBox(box1,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input [(ngModel)]="inputValues[1]" #box2 id="2" (keyup)="moveBox(box2,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input [(ngModel)]="inputValues[2]" #box3 id="3" (keyup)="moveBox(box3,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input [(ngModel)]="inputValues[3]" #box4 id="4" (keyup)="moveBox(box4,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input [(ngModel)]="inputValues[4]" #box5 id="5" (keyup)="moveBox(box5,$event.code)" type="text" maxlength="1"></div>
            <button (click)="onSubmit()">Submit</button>
            <div class="box"><input #box6 id="6" (keyup)="moveBox(box6, $event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box7 id="7" (keyup)="moveBox(box7,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box8 id="8" (keyup)="moveBox(box8,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box9 id="9" (keyup)="moveBox(box9,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box10 id="10" (keyup)="moveBox(box10,$event.code)" type="text" maxlength="1"></div>
            <button>Submit</button>
            <div class="box"><input #box11 id="11" (keyup)="moveBox(box11,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box12 id="12" (keyup)="moveBox(box12,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box13 id="13" (keyup)="moveBox(box13,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box14 id="14" (keyup)="moveBox(box14,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box15 id="15" (keyup)="moveBox(box15,$event.code)" type="text" maxlength="1"></div>
            <button>Submit</button>
            <div class="box"><input #box16 id="16" (keyup)="moveBox(box16,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box17 id="17" (keyup)="moveBox(box17,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box18 id="18" (keyup)="moveBox(box18,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box19 id="19" (keyup)="moveBox(box19,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box20 id="20" (keyup)="moveBox(box20,$event.code)" type="text" maxlength="1"></div>
            <button>Submit</button>
            <div class="box"><input #box21 id="21" (keyup)="moveBox(box21,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box22 id="22" (keyup)="moveBox(box22,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box23 id="23" (keyup)="moveBox(box23,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box24 id="24" (keyup)="moveBox(box24,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box25 id="25" (keyup)="moveBox(box25,$event.code)" type="text" maxlength="1"></div>
            <button>Submit</button>
            <div class="box"><input #box26 id="26" (keyup)="moveBox(box26,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box27 id="27" (keyup)="moveBox(box27,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box28 id="28" (keyup)="moveBox(box28,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box29 id="29" (keyup)="moveBox(box29,$event.code)" type="text" maxlength="1"></div>
            <div class="box"><input #box30 id="30" (keyup)="moveBox(box30,$event.code)" type="text" maxlength="1"></div>
            <button>Submit</button>
        </div>

    </div>
</div>