    
<div class="container d-flex flex-column align-items-center">

    <div>
        <h1 class="text-center" 
        *ngIf="!completed && failed  && submitted">
        Hidden word is "{{chosenWord.toUpperCase()}}" Better luck next time! Return to the main screen to choose another game
        </h1>
    </div>

    <div class="grid-container" *ngIf="!completed">
        <div *ngFor="let num of [0,1,2,3,4]; let i=index">
            <input maxlength="1" name="modelBox"
            [id]='i +"one"' 
            (input)="moveBox($event, i+1, 1)" 
            [(ngModel)]="modelBoxes1[i]"
            required
            (input)="onInput(i,1)"
            (keydown)="checkBack($event,i,'one')"
            >
        </div>
        <button type="submit"  [disabled]="!check || button1" (click)="onSubmit(1)">Submit</button>
    </div>

    <div *ngIf="attempt1&&!completed" class="grid-container" >
        <div *ngFor="let num of [0,1,2,3,4]; let i=index">
            <input maxlength="1" [id]='i +"two"' (input)="moveBox($event, i+1, 2)"
            [(ngModel)]="modelBoxes2[i]"
            required
            (input)="onInput(i,2)"
            (input)="checkLetter(modelBoxes2[i],$event)"
            (keydown)="checkBack($event,i,'two')"
            >
        </div>
        <button [disabled]="button2 || !check" (click)="onSubmit(2)">Submit</button>
    </div>
    
    <div *ngIf="attempt2&&!completed" class="grid-container">
        <div *ngFor="let num of [0,1,2,3,4]; let i=index">
            <input maxlength="1" [id]='i + "three"' (input)="moveBox($event, i+1, 3)"
            [(ngModel)]="modelBoxes3[i]"
            required
            (input)="onInput(i,3)"
            (input)="checkLetter(modelBoxes3[i],$event)"
            (keydown)="checkBack($event,i,'three')">
        </div>
        <button [disabled]="button3 || !check" (click)="onSubmit(3)">Submit</button>
    </div>
    
    <div *ngIf="attempt3&&!completed" class="grid-container">
        <div  *ngFor="let num of [0,1,2,3,4]; let i=index">
            <input maxlength="1" [id]='i + "four"' (input)="moveBox($event, i+1, 4)"
            [(ngModel)]="modelBoxes4[i]"
            required
            (input)="onInput(i,4)"
            (keyup)="checkLetter(modelBoxes4[i],$event)"
            (keydown)="checkBack($event,i,'four')">
        </div>
        <button [disabled]="button4 || !check" (click)="onSubmit(4)">Submit</button>
    </div>
    
    <div *ngIf="attempt4&&!completed" class="grid-container">
        <div  *ngFor="let num of [0,1,2,3,4]; let i=index">
            <input maxlength="1" [id]='i + "five"' (input)="moveBox($event, i+1, 5)"
            [(ngModel)]="modelBoxes5[i]"
            required
            (input)="onInput(i,5)"
            (input)="checkLetter(modelBoxes5[i],$event)"
            (keydown)="checkBack($event,i,'five')">
        </div>
        <button [disabled]="button5||!check" (click)="onSubmit(5)">Submit</button>
    </div>

</div>


<h1 *ngIf="completed">
    Congratulations!! RETURN TO MAIN SCREEN TO CHOOSE ANOTHER GAME
</h1>


