.grid-container {
    gap: 1px;
    width: 400px;
    margin-left: auto;
    display: flex;
}

input{
    width: 5vw;
    text-align: center;
}

  
  /* Optional: Center the grid on the screen */
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}
