<div class="container text-center">
    <div class="row">
      <h1 class="mb-5 mt-5 title">Welcome to Word Challenges</h1>
    </div>
  
    <div class="row ms-5">
      <div class="card col-md-5 text-white" style="background-color: black;">
        <h2>Create Challenge</h2>
        <p>Choose a word, and challenge others to guess the word in 6 turns or less</p>
        <button class="btn btn-purple mb-2">Start</button>
      </div>
      <div class="card col-md-5 ms-5" style="background-color: rgb(154, 53, 163);">
        <h2>Play Game</h2>
        <p>Choose to play a game by a specific user or a simple game available daily</p>
        <button class="btn btn-black mb-2" routerLink="/play/simple">Play a Game</button>
      </div>
    </div>
  </div>